html {
  font-size: 62.5%;
  font-family: 'Cascadia Code';
}

header {
  text-align: center;
  font-size: 1.7rem;
}

main,
footer {
  font-size: 1.7rem;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  line-height: 1.5;
}

.small {
  font-size: 1.5rem;
  line-height: 1.4;
}

code {
  font-size: 1.45rem;
}
