:root {
  --yellow: #ffc600;
}

body {
  margin: 2rem;
  background-color: rgba(255, 198, 0, 0.1);
}

main,
footer {
  max-width: 80rem;
  margin: 0 auto;
}

#work-history-grid h3 img {
  height: 2.5rem;
  margin-right: 1.5rem;
}

#work-history-grid h3:not(:first-of-type) {
  margin-top: 3rem;
}

#work-history-grid h4 {
  margin-top: 0;
  margin-bottom: 1rem;
}

#work-history-grid h4 img {
  height: 2rem;
  margin-right: 1rem;
}

#work-history-grid p {
  margin-top: 0;
  margin-bottom: 1rem;
}

#work-history-grid hr {
  margin-bottom: 1rem;
}

#open-source-work-grid span {
  margin-bottom: 2rem;
}

#open-source-work-grid h3 {
  margin-top: 0;
  margin-right: 2rem;
  font-size: 1.7rem;
}

#open-source-work-grid p {
  margin-top: 0;
  margin-bottom: 1rem;
}

footer {
  margin-bottom: 5rem;
}

dt img {
  height: 2.5rem;
  margin-right: 1.5rem;
}
